body {
    background-color: rgba(42,255,229,0.4);
}


canvas {
    background-color: brown;
    position: fixed;
    background-color: white;
    left: 350px;
    top: 50px;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

#board {
    position: fixed;
    background-color: brown;
    left: 350px;
    top: 50px;
    width: 700px;
    height: 600px;
}



.tool_buttom {
    background-color: gray;
    border: 2px solid black;
    width: 70px;
    height: 60px;
    cursor: pointer;
}


#redo_btn {
    background-color: red;
    border: 2px solid black;
    width: 70px;
    height: 60px;
    cursor: pointer;
}
#undo_btn {
    border: 2px solid black;
    width: 70px;
    height: 60px;
    cursor: pointer;
}
#image_btn {
    background-color: white;
    border: 2px solid black;
    width: 70px;
    height: 60px;
    cursor:pointer;
}
#download_btn {
    background-color: black;
    color:white;
    border: 2px solid black;
    width: 70px;
    height: 60px;
}

#refresh_btn {
    background-color: aqua;
    border: 2px solid black;
    width: 70px;
    height: 60px;
}

#menu {
    background-color: white;
    border: 2px solid black;
    position: fixed;
    left: 854px;
    top: 50px;
    width: 192px;
    height: 160px;
}

